/* FACEBOOK*/
.facebook {
    --color: #0011ff;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .facebook:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .facebook:hover {
    color: #fff;
   }
   
   .facebook:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .facebook:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .facebook:active:before {
    background: #0019fc;
    transition: background 0s;
   }

   /*INSTAGRAM*/
.instagram {
    --color: #fd6005;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .instagram:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .instagram:hover {
    color: #fff;
   }
   
   .instagram:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .instagram:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .instagram:active:before {
    background: #fa6502;
    transition: background 0s;
   }

   /*TIKTOK*/
.tiktok {
    --color: #000000;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .tiktok:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .tiktok:hover {
    color: #fff;
   }
   
   .tiktok:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .tiktok:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .tiktok:active:before {
    background: #ff0000;
    transition: background 0s;
   }

p{
    font-family: Arial, Helvetica, sans-serif;
}

.luna{
    padding: 2px;
    color: black;
    margin: 15px;
    border-radius: 20px;
    background-color: coral;
}

.amigas{
    padding: 2px;
    color: black;
    margin: 15px;
    border-radius: 20px;
    background-color: blueviolet;
}

.amiga1{
    padding: 5px;
    border: 5px double greenyellow;
    margin: 30px;
    border-radius: 26px;
}

.amiga2{
    padding: 5px;
    border: 5px double greenyellow;
    margin: 30px;
    border-radius: 26px;
}

.amiga3{
    padding: 5px;
    border: 5px double greenyellow;
    margin: 30px;
    border-radius: 26px;
}

.miperrita{
    padding: 5px;
    border: 5px dashed rgb(50, 37, 231);
    margin: 10px;
    border-radius: 26px;
}

body{
    background-color: rgb(96, 197, 146);
}